Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items:center;
  justify-content: space-between;
  z-index: 4;
  transition: .2 ease-in-out;
}

Body {
  font: 1.6em/1.4 "proximanova",sans-serif;
  font-size: 1.6em;
  line-height: 1.4;
  font-family: "proximanova", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "gilroy", sans-serif;
  font-weight: 700;
  line-height: 1.1;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 30px !important;
  font-family: "gilroy", sans-serif;
  font-size: 1.3rem;
  border-radius: 100px !important;
  white-space: nowrap;
  color: white !important;
  background: #11a3eb;
}

.btn.large {
  padding: 14px 48px;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 60px;
  margin: 0 auto;
}

.large {
  max-width: 1500px;
}

.container-full {
  padding: 0 60px;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 120px 0 0;
}

.section3, .section4, .section5 {
  height: 100vh;
  width: 100%;
}

.section1 {
  background: rgb(159, 205, 251);
}

.section2 {
  background: rgb(18, 51, 62);
}

.section3 {
  background: rgb(210, 177, 147);
}

.section4 {
  background: rgb(91, 110, 198);
}

.section5 {
  background: rgb(156, 194, 154);
}

.cta-blocks {
  display: flex;
  align-items: stretch;
  width: 100%;
  max-width: 1010px;
  border-radius: 28px;
  background: #fff;
  box-shadow: 0 14px 90px rgb(26 87 120 / 26)
}

.cta-block {
  position: relative;
  width: 50%;
  padding: 100px 50px 110px;
  color: #a1a6ac;
}

.divider {
  position: absolute;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border-left: 1px solid skyblue;
}

.cta-txt {
  position: relative;
  width: 100%;
  padding: 0 50px 50px 80px;
  color: #a1a6ac;
}

.wrapper-text {
  flex: 0 0 auto;
  width: calc(50% - 85px);
  margin-left: 60px;
}

.wrapper-illus {
  width: calc(50vw - 100px);
  max-width: 750px; 
  flex: 0 1 auto;
}

.bg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

/* Wave effect */

html {
  box-sizing: border-box;
}
*, *::before,*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
.wave-container {
  background: #EEE;
}
.wave-container > svg {
  display: block;
}

/************************** Animations ***********************/

/* Typewriter Effect */

/* Rain drop effect */
.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: drop 7s 0s infinite;
          animation: drop 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
  margin-left: -25%;
}
.line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.line:nth-child(3) {
  margin-left: 25%;
}
.line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}