.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding-top: 23px;
  z-index: 4;
  transition: .2 ease-in-out;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 30px;
  font-family: "gilroy",sans-serif;
  font-size: 1.3rem;
  border-radius: 100px;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 60px;
  margin: 0 auto;
}

.container-full {
  padding: 0 60px;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 120px 0 0;
}

.section1, .section2, .section3, .section4, .section5 {
  height:100vh;
  width: 100%;
}

.section1 {
  background: rgb(159, 205, 251);
}

.section2 {
  background: rgb(18, 51, 62);
}

.section3 {
  background: rgb(210, 177, 147);
}

.section4 {
  background: rgb(91, 110, 198);
}

.section5 {
  background: rgb(156, 194, 154);
}

.wrapper-text {
  flex: 0 0 auto;
  width: calc(50% - 85px);
  margin-left: 60px;
}

.wrapper-illus {
  width: calc(50vw - 100px);
  max-width: 750px; 
  flex: 0 1 auto;
}

/************************** Animations ***********************/

/* Typewriter Effect */

